# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.python-version

# Environments
.venv/
venv/

# Editors/OS
.vscode/
.idea/
.DS_Store

# Model artifacts and large binaries
*.pt
*.pth
*.bin

# Logs
*.log

# Project data/artifacts
Models/
DataSets/
PreTraining/Implementation/checkpoints/

#benchmark outputs
PreTraining/Benchmark/*results.json